<!DOCTYPE html>
<html>
  <head>
    <title>ModusOperandi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <div class="container pt-5">
      <div class="card">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
